<!--사이드메뉴1-->
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/text">깃사용법</a>
        <span class="badge badge-primary badge-pill">10</span>
    </li>
    <li class="list-group-item"><a href="/setup">준비 작업</a></li>
    <li class="list-group-item"><a href="/text/concept/">컨셉잡기</a></li>
    <li class="list-group-item"><a href="/commit">커밋</a></li>
    <li class="list-group-item"><a href="/server/">서버</a></li>
    <li class="list-group-item"><a href="/text/branch/">브랜치</a></li>
</ul>
<br>

<!--사이드메뉴3-->
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/part2">협업하기</a>
        <span class="badge badge-primary badge-pill">5</span>
    </li>
    <li class="list-group-item  d-flex justify-content-between align-items-center">
        <a href="/hosting">호스팅</a>
    </li>
    <li class="list-group-item  d-flex justify-content-between align-items-center">
        <a href="/github">깃허브</a>
    </li>
    <li class="list-group-item  d-flex justify-content-between align-items-center">
        <a href="/github/tools">깃허브 협업도구</a>
    </li>
</ul>
<br>

<ul class="list-group">
    <li class="list-group-item"><a href="/part3">활용하기</a></li>
    <li class="list-group-item  d-flex justify-content-between align-items-center">
        <a href="/gitpage">깃페이지</a>
    </li>
</ul>
<br>

<!--사이드메뉴4-->
<ul class="list-group">
    <li class="list-group-item  d-flex justify-content-between align-items-center">
        <a href="/BetaReview">베타 리뷰</a>
        <span class="badge badge-primary badge-pill">2</span>
    </li>
    <li class="list-group-item"><a href="/copyright">저작권</a></li>
</ul>
<br>

