<!--사이드메뉴1-->
<ul class="list-group">
    <li class="list-group-item"><a href="/setup">준비 작업</a></li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/text">기초 탄탄 깃</a>
        <span class="badge badge-primary badge-pill">10</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/part2">협업하기</a>
        <span class="badge badge-primary badge-pill">5</span>
    </li>
    <li class="list-group-item"><a href="/part3">활용하기</a></li>
</ul>
<br>

<!--사이드메뉴2-->
<ul class="list-group">
    <li class="list-group-item  d-flex justify-content-between align-items-center">
        <a href="/BetaReview">베타 리뷰</a>
        <span class="badge badge-primary badge-pill">2</span>
    </li>
    <li class="list-group-item"><a href="/copyright">저작권</a></li>
</ul>
<br>

