<nav class="bd-links w-100 " id="bd-docs-nav" aria-label="Docs navigation">
	<ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2 ">

    <li class="bd-links-group py-2">
      <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
        <a href="/text">깃사용법</a>
      </strong>
      <ul class="list-unstyled fw-normal pb-2 small">
        <li>
          <a href="/setup" class="bd-links-link d-inline-block rounded">준비 작업</a>
        </li>
        <li>
          <a href="/text/concept" class="bd-links-link d-inline-block rounded">컨셉잡기</a>
        </li>
        <li>
          <a href="/commit" class="bd-links-link d-inline-block rounded">커밋</a>
        </li>
        <li>
          <a href="/server" class="bd-links-link d-inline-block rounded">서버</a>
        </li>
        <li>
          <a href="/branch" class="bd-links-link d-inline-block rounded">브랜치</a>
        </li>
        <li>
          <a href="/text/temporarily" class="bd-links-link d-inline-block rounded">스태시</a>
        </li>
        <li>
          <a href="/text/merge" class="bd-links-link d-inline-block rounded">병합</a>
        </li>
        <li>
          <a href="/text/09" class="bd-links-link d-inline-block rounded">복귀</a>
        </li>
        <li>
          <a href="/text/tag" class="bd-links-link d-inline-block rounded">테그</a>
        </li>
        <li>
          <a href="/text/submodule" class="bd-links-link d-inline-block rounded">서브모듈</a>
        </li>
        <li>
          <a href="/text/12" class="bd-links-link d-inline-block rounded">고급기능</a>
        </li>   
      </ul>
    </li>

    <li class="bd-links-group py-2">
      <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
        <a href="/part2">
          협업하기
        </a>
      </strong>
      <ul class="list-unstyled fw-normal pb-2 small">
        <li>
          <a href="/hosting" class="bd-links-link d-inline-block rounded">호스팅</a>
        </li>
        <li>
          <a href="/github" class="bd-links-link d-inline-block rounded">깃허브</a>
        </li>
        <li>
          <a href="/github/tools" class="bd-links-link d-inline-block rounded">협업도구</a>
        </li>
        <li>
          <a href="/pullrequest" class="bd-links-link d-inline-block rounded">풀리퀘스트</a>
        </li>
        <li>
          <a href="/gitflow" class="bd-links-link d-inline-block rounded">브랜치전략</a>
        </li>
        <li>
          <a href="/hook" class="bd-links-link d-inline-block rounded">Hook</a>
        </li> 
        <li>
          <a href="/opensource" class="bd-links-link d-inline-block rounded">오픈소스</a>
        </li>    
      </ul>
    </li>



    <li class="bd-links-group py-2">
        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
          <a href="/part3">
            활용하기
          </a>
        </strong>     
      
      <ul class="list-unstyled fw-normal pb-2 small">
        <li>
          <a href="/gitpage" class="bd-links-link d-inline-block rounded">깃페이지</a>
        </li>
        <li>
          <a href="/packages" class="bd-links-link d-inline-block rounded">코드배포</a>
      </ul>
    </li>


    <li class="bd-links-group py-2">
      <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
        사이트
      </strong>
      <ul class="list-unstyled fw-normal pb-2 small">
        <li>
          <a href="/BetaReview" class="bd-links-link d-inline-block rounded">베타 리뷰</a>
        </li>
        <li>
          <a href="/copyright" class="bd-links-link d-inline-block rounded">저작권</a>
        </li>	
      </ul>
    </li>

	</ul>
</nav>